streamlit
numpy
pandas
plotly
matplotlib
seaborn
Pillow
opencv-python
mediapipe
speechrecognition
pyttsx3
scipy
networkx
google-generativeai
stmol
py3Dmol
matplotlib
streamlit-webrtc
streamlit-option-menu
streamlit-lottie
streamlit-autorefresh
streamlit-extras
streamlit-timeline
altair
opencv-python-headless